<h2><%= @user.name %>さんとのチャット</h2>

<div>
  <% @chats.each do |chat| %>
    <% if chat.user_id == current_user.id %>
      <div>
        <p><%= chat.message %></p>
        <%= link_to "削除", chat_path(chat), method: :delete, "data-confirm" => "本当に削除しますか？" %>
      </div>
    <% else %>
      <div>
        <%= image_tag @user.get_profile_image, size: '40x40' %>
        <%= chat.message %>
      </div>
    <% end %>
  <% end %>
</div>

<%= form_with model: @chat do |f| %>
  <%= f.text_area :message %>
  <%= f.submit "送信" %>
  <%= f.hidden_field :room_id %>
<% end %>
