<%= render 'book', book: @book, books: @books %>

<!--Booksの詳細-->
<h2>Book detail</h2>

<table>
  <tr>
    <td>
      <%= image_tag @books.user.get_profile_image(100,100) %><br>
      <%= link_to @books.user.name, user_path(@books) %>
    </td>
    <td><%= link_to @books.title, book_path(@books) %></td>
    <td><%= @books.body %></td>
    <% if @books.user == current_user %>
      <td><%= link_to 'Edit', edit_book_path %></td>
      <td><%= link_to 'Destroy', book_path, method: :delete, "data-confirm" => "本当に消しますか？" %></td>
    <% end %>
  </tr>
</table>