<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <script src="https://kit.fontawesome.com/d3818fb7f0.js" crossorigin="anonymous"></script>
    <script src="jquery.min.js"></script>
    <script src="jquery.raty.js"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body class="vh-100">

<!--ヘッダー-->
    <header class="bg-dark px-md-5">
      <nav class="navbar navbar-expand-lg navbar-dark">
        <span class="navbar-brand"><%= link_to "Bookers", root_path, class: 'text-white text-decoration-none' %></span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                       aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
              <li class="nav-item m-2">
                <%= link_to user_path(current_user) do %>
                  <i class="fa-solid fa-house text-white p-1"></i><span class="text-white">Home</span>
                <% end %>
              </li>
              <li class="nav-item m-2">
                <%= link_to users_path do %>
                  <i class="fa-solid fa-users text-white p-1"></i><span><span class="text-white">Users</span>
                <% end %>
              </li>
              <li class="nav-item m-2">
                <%= link_to books_path do %>
                  <i class="fa-solid fa-book-open text-white p-1"></i><span><span class="text-white">Books</span>
                <% end %>
              </li>
              <li class="nav-item m-2">
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <i class="fa-solid fa-right-from-bracket text-white p-1"></i><span><span class="text-white">Log out</span>
                <% end %>
              </li>
            <% else %>
              <li class="nav-item m-2">
                <%= link_to root_path do %>
                  <i class="fa-solid fa-house text-white p-1"></i><span class="text-white">Home</span>
                <% end %>
              </li>
              <li class="nav-item m-2">
                <%= link_to about_path do %>
                  <i class="fa-solid fa-link text-white p-1"></i><span><span class="text-white">About</span>
                <% end %>
              </li>
              <li class="nav-item m-2">
                <%= link_to new_user_registration_path do %>
                  <i class="fa-solid fa-user-plus text-white p-1"></i><span><span class="text-white">Sign up</span>
                <% end %>
              </li>
              <li class="nav-item m-2">
                <%= link_to new_user_session_path do %>
                  <i class="fa-solid fa-right-to-bracket text-white p-1"></i><span><span class="text-white">Log in</span>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </nav>
    </header>

<!--メイン-->
    <main>
      <div>
      　　<%= flash[:notice] %>
      </div>
      <div class="container">
      <div class="mb-5">
      <% if user_signed_in? %>
        <%= form_with url: tag_searches_search_path, method: :get, local: true do |f| %>
          <%= f.text_field :content %>
          <%= f.submit "タグ検索" %>
        <% end %>
      <% end %>
      </div>
      </div>

    <%= yield %>
    </main>

<!--フッター-->
    <footer class="p-5">
      <p class="text-center">CopyRight Infratop.inc</p>
    </footer>

  </body>
</html>
